<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>77</BK2>
  <Col3>37</Col3>
  <Reversed>False</Reversed>
  <Multicolour>False</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>0</charcode>
    <chardata>
      <data>60</data>
      <data>102</data>
      <data>110</data>
      <data>110</data>
      <data>96</data>
      <data>98</data>
      <data>60</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>1</charcode>
    <chardata>
      <data>0</data>
      <data>7</data>
      <data>15</data>
      <data>27</data>
      <data>63</data>
      <data>99</data>
      <data>195</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>2</charcode>
    <chardata>
      <data>0</data>
      <data>124</data>
      <data>102</data>
      <data>124</data>
      <data>102</data>
      <data>99</data>
      <data>127</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>3</charcode>
    <chardata>
      <data>0</data>
      <data>30</data>
      <data>49</data>
      <data>96</data>
      <data>96</data>
      <data>49</data>
      <data>31</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>4</charcode>
    <chardata>
      <data>0</data>
      <data>124</data>
      <data>102</data>
      <data>99</data>
      <data>99</data>
      <data>99</data>
      <data>127</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>5</charcode>
    <chardata>
      <data>0</data>
      <data>127</data>
      <data>99</data>
      <data>120</data>
      <data>96</data>
      <data>99</data>
      <data>127</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>6</charcode>
    <chardata>
      <data>0</data>
      <data>127</data>
      <data>99</data>
      <data>96</data>
      <data>120</data>
      <data>96</data>
      <data>96</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>7</charcode>
    <chardata>
      <data>0</data>
      <data>62</data>
      <data>96</data>
      <data>108</data>
      <data>102</data>
      <data>99</data>
      <data>126</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>8</charcode>
    <chardata>
      <data>0</data>
      <data>99</data>
      <data>99</data>
      <data>127</data>
      <data>99</data>
      <data>99</data>
      <data>99</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>9</charcode>
    <chardata>
      <data>0</data>
      <data>24</data>
      <data>0</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>10</charcode>
    <chardata>
      <data>0</data>
      <data>3</data>
      <data>3</data>
      <data>3</data>
      <data>3</data>
      <data>99</data>
      <data>127</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>11</charcode>
    <chardata>
      <data>0</data>
      <data>99</data>
      <data>102</data>
      <data>108</data>
      <data>120</data>
      <data>124</data>
      <data>102</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>12</charcode>
    <chardata>
      <data>0</data>
      <data>96</data>
      <data>96</data>
      <data>96</data>
      <data>96</data>
      <data>99</data>
      <data>127</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>13</charcode>
    <chardata>
      <data>0</data>
      <data>99</data>
      <data>119</data>
      <data>127</data>
      <data>107</data>
      <data>99</data>
      <data>99</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>14</charcode>
    <chardata>
      <data>0</data>
      <data>99</data>
      <data>115</data>
      <data>123</data>
      <data>111</data>
      <data>103</data>
      <data>99</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>15</charcode>
    <chardata>
      <data>0</data>
      <data>28</data>
      <data>54</data>
      <data>99</data>
      <data>99</data>
      <data>54</data>
      <data>28</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>16</charcode>
    <chardata>
      <data>0</data>
      <data>126</data>
      <data>99</data>
      <data>127</data>
      <data>96</data>
      <data>96</data>
      <data>96</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>17</charcode>
    <chardata>
      <data>0</data>
      <data>28</data>
      <data>54</data>
      <data>99</data>
      <data>99</data>
      <data>54</data>
      <data>31</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>18</charcode>
    <chardata>
      <data>0</data>
      <data>126</data>
      <data>99</data>
      <data>127</data>
      <data>108</data>
      <data>102</data>
      <data>99</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>19</charcode>
    <chardata>
      <data>0</data>
      <data>63</data>
      <data>96</data>
      <data>62</data>
      <data>3</data>
      <data>99</data>
      <data>126</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>20</charcode>
    <chardata>
      <data>0</data>
      <data>255</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>21</charcode>
    <chardata>
      <data>0</data>
      <data>99</data>
      <data>99</data>
      <data>99</data>
      <data>99</data>
      <data>119</data>
      <data>62</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>22</charcode>
    <chardata>
      <data>0</data>
      <data>99</data>
      <data>102</data>
      <data>108</data>
      <data>120</data>
      <data>112</data>
      <data>96</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>23</charcode>
    <chardata>
      <data>0</data>
      <data>99</data>
      <data>99</data>
      <data>107</data>
      <data>127</data>
      <data>119</data>
      <data>99</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>24</charcode>
    <chardata>
      <data>0</data>
      <data>99</data>
      <data>54</data>
      <data>28</data>
      <data>28</data>
      <data>54</data>
      <data>99</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>25</charcode>
    <chardata>
      <data>0</data>
      <data>99</data>
      <data>54</data>
      <data>28</data>
      <data>24</data>
      <data>48</data>
      <data>96</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>26</charcode>
    <chardata>
      <data>0</data>
      <data>255</data>
      <data>6</data>
      <data>12</data>
      <data>24</data>
      <data>48</data>
      <data>127</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>27</charcode>
    <chardata>
      <data>126</data>
      <data>126</data>
      <data>96</data>
      <data>96</data>
      <data>96</data>
      <data>96</data>
      <data>126</data>
      <data>126</data>
    </chardata>
  </character>
  <character>
    <charcode>28</charcode>
    <chardata>
      <data>0</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>29</charcode>
    <chardata>
      <data>126</data>
      <data>126</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>126</data>
      <data>126</data>
    </chardata>
  </character>
  <character>
    <charcode>30</charcode>
    <chardata>
      <data>24</data>
      <data>24</data>
      <data>60</data>
      <data>126</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
    </chardata>
  </character>
  <character>
    <charcode>31</charcode>
    <chardata>
      <data>0</data>
      <data>16</data>
      <data>48</data>
      <data>255</data>
      <data>255</data>
      <data>48</data>
      <data>16</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>32</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>33</charcode>
    <chardata>
      <data>31</data>
      <data>30</data>
      <data>28</data>
      <data>24</data>
      <data>0</data>
      <data>24</data>
      <data>24</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>34</charcode>
    <chardata>
      <data>51</data>
      <data>102</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>35</charcode>
    <chardata>
      <data>102</data>
      <data>102</data>
      <data>255</data>
      <data>102</data>
      <data>255</data>
      <data>102</data>
      <data>102</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>36</charcode>
    <chardata>
      <data>24</data>
      <data>63</data>
      <data>96</data>
      <data>60</data>
      <data>6</data>
      <data>252</data>
      <data>24</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>37</charcode>
    <chardata>
      <data>98</data>
      <data>102</data>
      <data>12</data>
      <data>24</data>
      <data>48</data>
      <data>102</data>
      <data>70</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>38</charcode>
    <chardata>
      <data>60</data>
      <data>102</data>
      <data>60</data>
      <data>56</data>
      <data>103</data>
      <data>102</data>
      <data>63</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>39</charcode>
    <chardata>
      <data>6</data>
      <data>12</data>
      <data>24</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>40</charcode>
    <chardata>
      <data>12</data>
      <data>24</data>
      <data>48</data>
      <data>48</data>
      <data>48</data>
      <data>24</data>
      <data>12</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>41</charcode>
    <chardata>
      <data>48</data>
      <data>24</data>
      <data>12</data>
      <data>12</data>
      <data>12</data>
      <data>24</data>
      <data>48</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>42</charcode>
    <chardata>
      <data>8</data>
      <data>42</data>
      <data>28</data>
      <data>127</data>
      <data>28</data>
      <data>42</data>
      <data>8</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>43</charcode>
    <chardata>
      <data>0</data>
      <data>24</data>
      <data>24</data>
      <data>126</data>
      <data>24</data>
      <data>24</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>44</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>24</data>
      <data>24</data>
      <data>48</data>
    </chardata>
  </character>
  <character>
    <charcode>45</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>124</data>
      <data>62</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>46</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>24</data>
      <data>24</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>47</charcode>
    <chardata>
      <data>0</data>
      <data>3</data>
      <data>6</data>
      <data>12</data>
      <data>24</data>
      <data>48</data>
      <data>96</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>48</charcode>
    <chardata>
      <data>0</data>
      <data>60</data>
      <data>102</data>
      <data>74</data>
      <data>82</data>
      <data>102</data>
      <data>60</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>49</charcode>
    <chardata>
      <data>0</data>
      <data>24</data>
      <data>24</data>
      <data>56</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>50</charcode>
    <chardata>
      <data>0</data>
      <data>60</data>
      <data>102</data>
      <data>6</data>
      <data>12</data>
      <data>48</data>
      <data>126</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>51</charcode>
    <chardata>
      <data>0</data>
      <data>60</data>
      <data>102</data>
      <data>12</data>
      <data>6</data>
      <data>102</data>
      <data>60</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>52</charcode>
    <chardata>
      <data>0</data>
      <data>12</data>
      <data>28</data>
      <data>44</data>
      <data>126</data>
      <data>12</data>
      <data>12</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>53</charcode>
    <chardata>
      <data>0</data>
      <data>62</data>
      <data>48</data>
      <data>60</data>
      <data>6</data>
      <data>70</data>
      <data>124</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>54</charcode>
    <chardata>
      <data>0</data>
      <data>60</data>
      <data>102</data>
      <data>96</data>
      <data>124</data>
      <data>102</data>
      <data>60</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>55</charcode>
    <chardata>
      <data>0</data>
      <data>126</data>
      <data>102</data>
      <data>12</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>56</charcode>
    <chardata>
      <data>0</data>
      <data>60</data>
      <data>102</data>
      <data>60</data>
      <data>36</data>
      <data>102</data>
      <data>60</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>57</charcode>
    <chardata>
      <data>0</data>
      <data>60</data>
      <data>102</data>
      <data>62</data>
      <data>6</data>
      <data>70</data>
      <data>60</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>58</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>24</data>
      <data>0</data>
      <data>0</data>
      <data>24</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>59</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>24</data>
      <data>0</data>
      <data>0</data>
      <data>24</data>
      <data>24</data>
      <data>48</data>
    </chardata>
  </character>
  <character>
    <charcode>60</charcode>
    <chardata>
      <data>14</data>
      <data>24</data>
      <data>48</data>
      <data>96</data>
      <data>48</data>
      <data>24</data>
      <data>14</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>61</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>126</data>
      <data>0</data>
      <data>126</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>62</charcode>
    <chardata>
      <data>112</data>
      <data>24</data>
      <data>12</data>
      <data>6</data>
      <data>12</data>
      <data>24</data>
      <data>112</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>63</charcode>
    <chardata>
      <data>0</data>
      <data>60</data>
      <data>126</data>
      <data>102</data>
      <data>12</data>
      <data>0</data>
      <data>12</data>
      <data>12</data>
    </chardata>
  </character>
  <character>
    <charcode>64</charcode>
    <chardata>
      <data>192</data>
      <data>192</data>
      <data>192</data>
      <data>192</data>
      <data>192</data>
      <data>192</data>
      <data>192</data>
      <data>192</data>
    </chardata>
  </character>
  <character>
    <charcode>65</charcode>
    <chardata>
      <data>96</data>
      <data>96</data>
      <data>96</data>
      <data>96</data>
      <data>96</data>
      <data>96</data>
      <data>96</data>
      <data>96</data>
    </chardata>
  </character>
  <character>
    <charcode>66</charcode>
    <chardata>
      <data>48</data>
      <data>48</data>
      <data>48</data>
      <data>48</data>
      <data>48</data>
      <data>48</data>
      <data>48</data>
      <data>48</data>
    </chardata>
  </character>
  <character>
    <charcode>67</charcode>
    <chardata>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
    </chardata>
  </character>
  <character>
    <charcode>68</charcode>
    <chardata>
      <data>12</data>
      <data>12</data>
      <data>12</data>
      <data>12</data>
      <data>12</data>
      <data>12</data>
      <data>12</data>
      <data>12</data>
    </chardata>
  </character>
  <character>
    <charcode>69</charcode>
    <chardata>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
    </chardata>
  </character>
  <character>
    <charcode>70</charcode>
    <chardata>
      <data>3</data>
      <data>3</data>
      <data>3</data>
      <data>3</data>
      <data>3</data>
      <data>3</data>
      <data>3</data>
      <data>3</data>
    </chardata>
  </character>
  <character>
    <charcode>71</charcode>
    <chardata>
      <data>3</data>
      <data>3</data>
      <data>3</data>
      <data>3</data>
      <data>3</data>
      <data>3</data>
      <data>3</data>
      <data>3</data>
    </chardata>
  </character>
  <character>
    <charcode>72</charcode>
    <chardata>
      <data>16</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>73</charcode>
    <chardata>
      <data>0</data>
      <data>16</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>74</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>16</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>75</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>16</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>76</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>16</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>77</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>16</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>78</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>16</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>79</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>16</data>
    </chardata>
  </character>
  <character>
    <charcode>80</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
</charset>
